.question {
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: grey;
    color: black;
    font-size: 10px;
    user-select: none;
}

.tooltip-container {
    position: relative;
}

.tooltip-container-abs {
    position: absolute !important;
}

.tooltip-container:hover .tooltip-text, .tooltip-hovered .tooltip-text {
    opacity: 1;
}

.tooltip-text {
    opacity: 0;
    width: 200px;
    padding: 4px 8px 4px 8px;
    background-color: rgb(65, 65, 65);
    color: rgb(173, 173, 173);
    position: absolute;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.3s;
    user-select: none;
    bottom: 100%;
    margin-bottom: 4px;
    font-size: small;
}

textarea {
    max-width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(65, 65, 65);
    color: rgb(173, 173, 173);
}

.type {
    background-color: #00335f;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid black;
    margin-bottom: 7.5px;
}

.active {
    background-color: #004e92;
}

.type-right {
    border-radius: 0px 20px 20px 0px;
}

.type-left {
    border-right: 2px solid black; 
    border-radius: 20px 0px 0px 20px;
}